<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>

    <div id="app">
	
		<!--单个标签进行条件渲染-->
		
		<!--<h1>你的入学测试得分: {{score}}</h1>-->
		<!--<button @click="examAgin">学习后再复试一次</button>-->
		<!--<button @click="examAgin" v-if="score<60">学习后再复试一次</button>-->

		<!--<h2 v-if="score>=60" style="color: green;">欢迎来到尚硅谷学习!</h2>
		<h3 v-else style="color: red;">很遗憾, 你的入学测试没有通过...</h3>-->
		
		<!--<button @click="examAgin" v-if="score<60 && score>=50">学习后再复试一次</button>
		
		<h2 v-if="score>=60" style="color: green;">欢迎来到尚硅谷学习!</h2>
		<h3 v-else-if="score<50" style="color: red;">
			很遗憾, 你的入学测试没有通过，可以考虑UI或测试
		</h3>
		<h4 v-else style="color: purple;">此次测试没有完全通过, 可选择复试</h4>-->

		<!--多个标签进行条件渲染-->
		<h1>你的入学测试得分: {{score}}</h1>
		<button @click="examAgin">学习后再复试一次</button><br/>
		<template v-if="score>=60">
			<button>去找咨询老师办理入学</button><br/>
			<button>去找技术老师深入交流技术疑问</button><br/>
			<button>去找就业老师了解就业信息</button><br/>
		</template>


	</div>


    <script>
        //创建Vue对象，挂载#app这个div标签
		var app = new Vue({
			el:"#app",
			data:{
				score: 55,
				//score: 30,
			},	
			methods: {
				examAgin () {
					  this.score += 10
				}
			}
			
		});

    </script>
</body>
</html>